body {
    font-family: 'Roboto';
    margin-top: 55px;
    background-color: #FAFAFA;
    z-index: 50;
}

header {
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 54px;
    background-color: white;
    z-index: 100;
}

.header_content {
    background-color: white;
    display: flex;
    height: 54px;
    width: 935px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

header div{
    display: flex;
}

header .separator {
    margin: 0 10px;
    border-right: 1px solid #DBDBDB;
    box-sizing: border-box;
}

.logo-instagram {
    margin: auto 0;
}

.logo img{
    margin-top: 10px;
}

.logo-instagram ion-icon{
    width: 19.25px;
    height: 19.25px;
}

.search_bar input{
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    box-sizing: border-box;
    border-radius: 3px;
    border: none ;
    border: 1px solid #DBDBDB;
}

.search_bar input::placeholder {
    padding-left: 75px;
    
}


.menu ion-icon{
    width: 17.87px;
    height: 17.87px;
}

.menu .teste{
    display: block;
}

.menu .direct ion-icon{
    margin: 0;
}

.menu {
    width: 115px;
    height: 17.86px;
    justify-content: space-between;
}


body .separator {
    border-bottom: 1px solid #DBDBDB;
}

main {
    width: 935px;
    display: flex;
    margin: 0 auto;
}

main .separator{
    width: 28px;
}
.main_content{
    width: 614px;
    height: 100%;
}

.stories {
    width: 614px;
    height: 118px;
    margin-top: 34px;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    background-color: #FFF;
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.stories .profile{
    height: 86px;
    width: 78px;
    max-width: 66px;
    margin: 18px 7px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.stories .profile:first-child{
    margin-left: 16px;
}

.stories .border{
    width: 66px;
    height: 66px;
    background: url(../images/stories_background.svg);
    border-radius: 33px;
    
}

.stories .profile_photo img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin: 5px;
}

.stories p{
    font-size: 12px;
    line-height: 14px;
    padding: 2.5px 0;
}

.stories .right_arrow_button{
    position: absolute;
    right: 9px;
    top: 46px;
    height: 26px;
    width: 26px;
    color: white;
    border-radius: 50%;
    box-shadow: 0 2px 6px gray;
}

.stories .right_arrow_button ion-icon{
    width: 33px;
    height: 33px;
    position: absolute;
    left: -4px;
    top: -4px;
    
}

.post {
    width: 614px;
    height: 749px;
    background-color: #FFF;
    margin-bottom: 60px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}

.post .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    margin-right: 15px;
}

.post .title .profile{
    display: flex;
}

.post .title .profile .profile_photo{
    width: 34px;
    height: 34px;
    margin: 15px 15px 14px 17px;
}

.post .title .profile .profile_photo a{
    width: inherit;
    height: inherit;
}

.post .title .profile .profile_photo img{
    width: inherit;
    height: inherit;
}

.post .title .profile .profile_name{
    margin: auto 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.post .title .profile a.profile_name:hover{
    text-decoration: underline;
}

.post .title ion-icon{
    margin-right: 18.5px;
}

.post .title a.options{
    margin: 0;
    width: 16px;
}

.post img{
    width: 612px;
    height: 612px;
}

.post .buttons{
    display: flex;
    height: 20px;
    width: 578px;
    margin: 10px 17px;
    ;
}

.post .buttons a{
    height: inherit;
    width: 20px;
    margin-right: 14px;
}

.post .buttons ion-icon{   
    height: inherit;
    width: inherit;
    
}

.post .buttons a:last-child{
    margin: 0;
    margin-left: auto;
}

.post .likes{
    width: 578px;
    height: 20px;
    margin: 0 17px;
    display: flex;
}

.post .profile_photo{
    width: 20px;
    height: 20px;
}

.post .likes_number{
    margin: auto 0 auto 5px;
}

.post .likes_number .profile_example:hover{
    text-decoration: underline;
}

.side_menu{
    width: 293px;
    height: 460px;
    margin-top: 34px;
}

.side_menu .profile{
    display: flex;
    align-items: center;
    
    margin-top: 25px;
    margin-bottom: 24px;
    height: 56px;
}

.side_menu .profile img.profile_photo{
    width: 56px;
    height: 56px;
}

.side_menu .profile .profile_id{
    margin-left: 17px;
}

.side_menu .profile .profile_hashtag{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    height: inherit;
}

.side_menu .profile .profile_name{
    color: #BEBEBE;
    font-weight: 300;
}

.side_menu .suggestions{
    margin-bottom: 33px;
}

.side_menu .suggestions .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.side_menu .suggestions .title p{
    color: #BEBEBE;
    font-size: 12px;
}

.side_menu .suggestions .title a{
    font-size: 12px;
}

.side_menu .suggestions .suggested_profile{
    display: flex;
    align-items: center;
    height: 32px;
    margin-bottom: 16px;
}

.side_menu .suggestions .suggested_profile .follow_button{
    margin-left: auto;
    font-size: 12px;
    color: #139EF2;
}

.side_menu .suggestions .suggested_profile .profile_photo{
    height: inherit;
}

.side_menu .suggestions .suggested_profile .profile_info{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 11px;
}

.side_menu .suggestions .suggested_profile .profile_info a:hover{
    text-decoration: underline;
}

.side_menu .suggestions .suggested_profile p{
    font-size: 12px;
    color: #BEBEBE;
    margin-top: auto;
}

.about p{
    font-weight: 400;
    font-size: 11px;
    color: #C7C7C7;
    margin-top: 18px;
}

main div.separator{
    z-index: 2;
    background-color: #FAFAFA;
}